.media{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 10px;
    position: relative;
    font-family: "Monsterrat", sans-serif;
    height: auto;
    width: 15vw;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}


.media:hover{
    /* background-color: white !important; */
    color: black;
    transform: scale(1.1);
}

/* @media (max-width: 550px){
    .media {
        width: 46%;
    }
} */



.title{
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
    color: white;
}

.subTitle{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 3px;
    word-break: break-word;
    margin-bottom: 1vw;
    color: #B2B2B2;
}

.content-card{
height: 10vw;
margin-top: 1vw;
}


@media (max-width: 768px){
    .subTitle {
        display: none;
      }

      .content-card{
        height: 100px !important;
        margin-top: 0 !important;
        }
}


@media (min-width: 768px) and (max-width: 1023px){

    .subTitle {
        display: none;
      }
}