
* {
  scroll-behavior: smooth;
}

.app{
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  padding-bottom: 70px;
}



.app.login-page {
  padding-bottom: 0;
}


.rm-padding{
  padding-bottom: 0px !important;
}


.custom-bottom-navigation{
  background-color: #2d313a !important;
}

.pageTitle{
  font-family: "Monsterrat", sans-serif;
  font-size: 3vw;
  color: white;
  display: flex;
    flex-direction: row;
    justify-content: center;
}


.css-1oqqzyl-MuiContainer-root {
  width: 100%;
  box-sizing: border-box;
  display: contents;
  padding-left: 16px;
  padding-right: 16px;
}


.page-container{
  padding-top: 120px;
}

@media (max-width: 768px){
  .pageTitle {
    font-size: 25px;
  }
}